<h1> Ohh yeaahhh, first view.com </h1>
<h3> Thanks Rebuilding Rails </h3>

<p>
  There is nothing either good or bad, but
  <%= @verb %> makes it so.
</p>

<p>
  Ruby version <%= RUBY_VERSION %>
</p>

<p> The time is <%= Time.now %> (Grenwich Mean Time) </p>
